@font-face {
    font-family: 'Roboto-Flex';
    src: url('../assets/Roboto-Flex.ttf') format('truetype');
}
.indigo-color {
    color: #9593D9 !important;
}
.blue-color {
    color: #7C90DB !important;
}
.green-color {
    color: #A8D8B9 !important;
}