<header>
  <title>Whoops!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/globals.css">
  <link rel="icon" href="/public/favicon.svg">
</header>

<body class="background-color">
  <p id="not-found" class="foreground-color">Page not found!</p>
  <p id="error-body" class="foreground-color">
    Something went wrong, and you've requested a page that doesnt exist. If you can, return to the previous page or click 
    <a href="/" class="indigo-color">here</a> to go back to the homepage.
</p>
</body>
<style>
    #not-found {
        font-family: 'Roboto-Flex', sans-serif;
        font-weight: 400;
        font-size: 2em;
        text-align: center;
        margin-top: 20vh;
    }
    #error-body {
        font-family: 'Roboto-Flex', sans-serif;
        font-weight: 400;
        font-size: 1.2em;
        text-align: center;
        margin-top: 2vh;
    }
</style>