<header>
  <title>Welcome to Astro</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="icon" href="/public/favicon.svg">
</header>
<body class="background-color">
<p id="greet" class="foreground-color">Hello!</p>
</body>
<style>
  #greet {
	font-family: 'Roboto-Flex', sans-serif;
	font-size: 2em;
	text-align: center;
	margin-top: 20vh;
  }