---
import ThemeSwitcher from '../components/theme_switcher.astro';
import BaseLayout from '../layouts/base.astro';
---

<BaseLayout title="Welcome!">
  <ThemeSwitcher />
  <p id="greet" class="foreground-color">Hello!</p>

  <style>
    #greet {
      font-family: 'Roboto-Flex', sans-serif;
      font-weight: 400;
      font-size: 2em;
      text-align: center;
      margin-top: 20vh;
    }
  </style>
</BaseLayout>
