---
import '../styles/globals.css';
import ThemeSwitcher from './theme_switcher.astro';
---
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/" class="foreground-color">stephy.gay</a>
        </div>
        <div class="navbar-links">
            <a href="/" class="foreground-color">Home</a>
            <a href="/about" class="foreground-color">About</a>
            <a href="https://github.com/crittersteph" class="foreground-color">Github</a>
    </nav>
</body>