---
import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
const { size = "1.5em" } = Astro.props;
---

<body>
  <span id="theme-toggle-span">
    <i id="theme-toggle" class="bi foreground-color i-button"></i>
  </span>
</body>
<script>

  let root = document.documentElement
  let button = document.getElementById("theme-toggle");
    const loadedTheme = document.documentElement.getAttribute("data-theme");
  if (loadedTheme === "dark" ||  loadedTheme === null) {
    button?.classList.add("bi-cloud-moon");
  } else {
    button?.classList.add("bi-cloud-sun");
  }
  const buttonLogic = () => {
    const currentTheme = document.documentElement.getAttribute("data-theme");
    if (currentTheme === "dark" || currentTheme === null) {
      root.setAttribute("data-theme", "light");
      button?.classList.remove("bi-cloud-moon");
      button?.classList.add("bi-cloud-sun");
    } else {
      root.setAttribute("data-theme", "dark");
      button?.classList.remove("bi-cloud-sun");
      button?.classList.add("bi-cloud-moon");
    }
  };
  document
    .getElementById("theme-toggle")
    ?.addEventListener("click", buttonLogic);
</script>
<style define:vars={{size}}>
  .i-button {
    cursor: pointer;
    font-size: var(--size)
  }
</style>
