---
import "../styles/globals.css";
import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
const { title = "stephy.gay" } = Astro.props;
import Navbar from "../components/navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="background-color">
    <Navbar />

    <slot />
  </body>
  <style>
    body {
      max-width: 100%;
      overflow: hidden;
    }
  </style>
</html>
