---
import "../styles/globals.css";
import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
const { title = "stephy.gay" } = Astro.props;
import ThemeSwitcher from "../components/theme_switcher.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="background-color">
    <slot />

    <script>
      // On page load, use stored theme
      const stored = localStorage.getItem("theme") || "dark"; // Default to dark
      document.documentElement.setAttribute("data-theme", stored);
      
      const updateStyles = () => {
        document
          .getElementById("theme-styles")
          ?.remove(); // Remove existing styles if any
        if (localStorage.getItem("theme") === "dark") {
          const style = document.createElement("style");
          style.id = "theme-styles";
          style.textContent = `
          .background-color { background-color: #393E41; }
          .foreground-color { color: #F3F3F4; }
        `;
          document.head.appendChild(style);
        } else {
          const style = document.createElement("style");
          style.id = "theme-styles";
          style.textContent = `
          .background-color { background-color: #F3F3F4; }
          .foreground-color { color: #393E41; }
        `;
          document.head.appendChild(style);
        }
      };
      updateStyles();
    </script>
  </body>
</html>
