---
import "../styles/globals.css";
const { title = "stephy.gay" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="background-color">
    <div class="theme-toggle-bar">
      <button id="theme-toggle">Toggle Theme</button>
    </div>

    <slot />

    <script>
      const setTheme = (theme: string) => {
        localStorage.setItem("theme", theme);
        document.documentElement.setAttribute("data-theme", theme);
      };

      // On page load, use stored theme
      const stored = localStorage.getItem("theme") || "dark"; // Default to dark
      console.log(`Stored theme: ${stored}`);
      document.documentElement.setAttribute("data-theme", stored);
      const buttonLogic = () => {
        console.log("Button pressed");
        const currentTheme = localStorage.getItem("theme") || "dark"; // Default to dark if not set
        if (currentTheme === "dark") {
          // Switch to light theme
          setTheme("light");
          console.log("Switched to light theme");
        } else {
          // Switch to dark theme
          setTheme("dark");
          console.log("Switched to dark theme");
        }
        updateStyles();
      };
      document
        .getElementById("theme-toggle")
        ?.addEventListener("click", buttonLogic);
      const updateStyles = () => {
        document
          .getElementById("theme-styles")
          ?.remove(); // Remove existing styles if any
        if (localStorage.getItem("theme") === "dark") {
          const style = document.createElement("style");
          style.id = "theme-styles";
          style.textContent = `
          .background-color { background-color: #393E41; }
          .foreground-color { color: #F3F3F4; }
        `;
          document.head.appendChild(style);
        } else {
          const style = document.createElement("style");
          style.id = "theme-styles";
          style.textContent = `
          .background-color { background-color: #F3F3F4; }
          .foreground-color { color: #393E41; }
        `;
          document.head.appendChild(style);
        }
      };
      updateStyles();
    </script>
  </body>
</html>
